
<div class="pd-20" ng-init="getList()">
    <div class="">
        <div class="search-bar HuiTab" >
            <label for="search">
                当前页检索：
                <input type="search" class="input-text  inline" id="search" placeholder="客户姓名/联系电话" ng-model="search" style="width: 180px"/>
            </label>
            <span class="tabBar cl f-r" style="border-bottom: none;margin-top: 16px;margin-right: -20px" tab-tool="">
                <span class="current" ng-click="getList()">全部({{pageTotal}})</span>
                 <span ng-click="getList(0)">未处理({{status_0}})</span>
                <span ng-click="getList(1)">已预约({{status_1}})</span>
                <span ng-click="getList(2)">已取消({{status_2}})</span>
            </span>
        </div>
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="25">序号</th>
                <th width="150">预约时间</th>
                <th width="150">姓名</th>
                <th width="150">联系电话</th>
                <th width="150">所在地</th>
                <th>预约车辆</th>
                <th width="75">状态</th>
                <th width="180">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c" ng-repeat="obj in list|filter:searchFilter">
                <td ng-bind="$index+1"></td>
                <td ng-bind="obj.PostTime"></td>
                <td ng-bind="obj.ContactName">
                </td>
                <td ng-bind="obj.ContactPhone"></td>
                <td>
                    <span ng-bind="obj.Province"></span>-<span ng-bind="obj.City"></span>
                </td>
                <td ng-bind="obj.CarFullName">
                </td>
                <td ng-bind-html="obj.OrderFlag|OrderFlagFormat"></td>
                <td class="f-14 td-manage">
                    <a  class="ml-5 Hui-iconfont Hui-iconfont-edit1" ng-click="update(obj)"  title="编辑"></a>
                    <a  class="ml-5 Hui-iconfont Hui-iconfont-del" ng-click="deleteappion(obj.OrderCode)"  title="删除"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div pagination  total-items="pageTotal" ng-model="currentPage" ng-change="changePager()"
             previous-text="上一页" next-text="下一页" max-size="10" ng-show="pageTotal>PAGE_CONF.PageSize"></div>
    </div>
</div>



