
<div class="pd-20" ng-init="getList()">
    <div class="mt-20">
        <div class="search-bar">
            <label for="search">
                当前页检索：
                <input type="search" class="input-text  inline" id="search" placeholder="用户名" ng-model="search" style="width: 180px"/>
            </label>
             <span class="r">
                <a class="btn btn-primary radius" ui-sref="admin.user-add"><i class="Hui-iconfont">&#xe600;</i> 新增用户</a>
        </span>
        </div>
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="25">序号</th>
                <th width="120">用户名</th>
                <th width="120">真实姓名</th>
                <th width="120">联系电话</th>
                <th >联系地址</th>
                <th width="120">用户角色</th>
                <th width="180">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c" ng-repeat="obj in list|filter:searchFilter">
                <td ng-bind="$index+1"></td>
                <td ng-bind="obj.Account"></td>
                <td ng-bind="obj.UserName">
                </td>
                <td ng-bind="obj.Contract"></td>
                <td ng-bind="obj.Address"></td>
                <td ng-bind="obj.IdentityTag|UserRole">
                </td>
                <td class="f-14 td-manage">
                    <a  class="ml-5 Hui-iconfont Hui-iconfont-edit1"   title="编辑"></a>
                    <a  class="ml-5 Hui-iconfont Hui-iconfont-del"  href="javascript:void(0);" title="删除" ></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div pagination  total-items="pageTotal" ng-model="currentPage" ng-change="changePager()"
             previous-text="上一页" next-text="下一页" max-size="10" ng-show="pageTotal>PAGE_CONF.PageSize"></div>
    </div>
</div>

