<div class="up-wrapper">
    <div class="up-container">
        <div class="uploader">
            <div class="queueList">
                <div  class="placeholder"></div></div>
                <div class="statusBar">
                    <div class="progress">
                        <span class="text">0%</span>
                        <span class="percentage"></span>
                    </div>
                    <div class="info"></div>
                <div class="btns">
                    <div class="pick-btn input-group-btn">
                        <div class="btn btn-primary btn-file">
                            <i class="glyphicon glyphicon-folder-open"></i> &nbsp;选择 …
                            <div class="filePicker"></div>
                        </div>
                    </div>
                 <div class="btn btn-info btn-file uploader-btn uploadBtn">
                     <i class="glyphicon glyphicon-upload"></i> &nbsp;上传 …
                 </div>
                </div>
                </div>
        </div>
    </div>
</div>